{% extends "layout.html" %}
{% block nosotros %}
  <div class="back-nosotros">
    <div class="col-8" >
      <div class="card card-nosotros">
        <div class="card-body">
          <h5 class="card-title">GrowingUP Es lo mejor para tus cultivos</h5>
          <p class="card-text">Nuestra empresa es la principal comercializadora de insumos para cultivos de cannabis, hortalizas y jardinería en la zona. Nos dedicamos a prestar la asistencia, el asesoramiento y la mejor oferta de productos a cultivadores experimentados y personas que desean iniciarse en el mundo del cultivo desde cero. Contamos con una enorme experiencia en el rubro. Desde el inicio nos especializamos en cultivo tradicional exterior e interior, ampliando luego nuestros conocimientos para lograr brindar recursos en una extensa variedad y tipos de cultivos tales como las técnicas SOG/SCROG, la hidroponía, el sustrato en fibra de coco, entre otros.
            Prestamos especial atención a cada innovación que surge, esto nos ha permitido crecer no solo como un local comercial, si no también como un lugar de asesoramiento personalizado e integral al que puedes recurrir confiando en obtener siempre la respuesta profesional y experimentada que buscas. </p>
        </div>
      </div>  
    </div>
  </div>
{% endblock %}